<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>

<nav th:fragment="nav" class="topnav">
    <a class="active" th:href="@{'/'}">Home Page</a>
    <a th:href="@{'/movies/list'}">Movie Repository</a>
    <a th:href="@{'/spectacles/list'}">Theater Repository</a>
    <a th:href="@{'/about'}">About Us</a>
    <a th:href="@{'/localization'}">Contact and location</a>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{'/movies/showForm'}">Add movie</a>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{'/spectacles/showForm'}">Add a
        Show</a></div>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{'console'}">Database</a></div>

<!--    <div class="test">-->
<!--        <a sec:authorize="!isAuthenticated()" class="nav-item"><a class="btn btn-outline-light" th:href="@{/register}">SignUp</a></a>-->
<!--        <a sec:authorize="!isAuthenticated()" class="nav-item"><a class="btn btn-outline-light" th:href="@{/login}">Login</a></a>-->

<!--        <a sec:authorize="isAuthenticated()" class="nav-item dropdown">-->
<!--            <a class="nav-item" id="logoutNavbarDropdown" role="button"-->
<!--               aria-haspopup="true" aria-expanded="false" th:href="@{/logout}"> Logout-->
<!--            </a>-->
<!--        </a>-->

<!--        <a sec:authorize="isAuthenticated()" class="nav-item dropdown">-->
<!--            <a class="nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--               aria-haspopup="true" aria-expanded="false" sec:authentication="name">-->
<!--            </a>-->
<!--        </a>-->
<!--    </div>-->

    <div class="test">
        <a sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="btn btn-outline-light btn-rounded" th:href="@{/register}">Sign Up</a>
        </a>
        <a sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="btn btn-outline-light btn-rounded" th:href="@{/login}">Log In</a>
        </a>

        <a sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-item" id="logoutNavbarDropdown" role="button" aria-haspopup="true" aria-expanded="false"
               th:href="@{/logout}">
                <a class="btn btn-outline-light btn-rounded">Logout</a>
            </a>
        </a>

        <a sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" sec:authentication="name">
                <a class="btn btn-outline-light btn-rounded">User Profile</a>
            </a>
        </a>
    </div>

</nav>

<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
                <h1 class="display-4 text-center">Welcome to Our Movie Ticket Booking Platform</h1>
                <p class="lead text-center">Your Gateway to the Best Cinematic Experiences</p>

                <!-- Highlighted Features -->
                <div class="row my-5">
                    <div class="col-md-4">
                        <i class="fas fa-film fa-3x d-block mx-auto text-primary"></i>
                        <h3 class="text-center">Latest Movies</h3>
                        <p class="text-center">Explore and book tickets for the latest blockbuster movies.</p>
                    </div>
                    <div class="col-md-4">
                        <i class="fas fa-ticket-alt fa-3x d-block mx-auto text-primary"></i>
                        <h3 class="text-center">Easy Booking</h3>
                        <p class="text-center">Effortlessly book movie tickets with secure payment options.</p>
                    </div>
                    <div class="col-md-4">
                        <i class="fas fa-clock fa-3x d-block mx-auto text-primary"></i>
                        <h3 class="text-center">Upcoming Shows</h3>
                        <p class="text-center">Stay updated with upcoming movie showtime in your area.</p>
                    </div>
                </div>

                <!-- Engaging Content -->
                <p class="text-center">
                    We invite you to check the current schedules and enjoy the magic of cinema. At our platform, we're
                    more
                    than just a ticket booking system; we're your companions on an exciting cinematic journey.
                </p>
            </div>
        </div>
    </div>
</div>


</body>
</html>